<!DOCTYPE html>
<html ng-app="mymodule">
<head>
    <script src="Scripts/angular-min.js"></script>
    <script src="Scripts/main.js"></script>
    <meta charset="utf-8" />
    <title></title>
</head>
<body ng-controller="mycontroller">
    <div>
    <h1>Student Information:</h1>
    <form>
        <label >First Name: </label><br />
        <input type="text" value="firstName" ng-model="student.firstName" /> <br />

        <label>Last Name</label><br />
        <input type="text" value="lastName" ng-model="student.lastName" /> <br />
            
        <label>Gender</label> <br />
        <select value="gender" ng-model="student.gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select><br /> <br />
        <span>Training Type:</span><br />
        <input type="text" ng-model="student.trainigType" />
        
        <input type="submit" value="Submit" ng-click="submitStudnetForm(student)" />
    </form>
    </div>
</body>
</html>